body {
    background-color: #f3d4d4; /*testing only*/
    padding: 0;
    margin: 0;
    font-family: Arial;
}

    .top-nav {
        position: sticky;
        background-color: #e7cc1b;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-left: 120px;  /*Navigation Bar*/
    }

.top-nav a{
    color: #99870f;
    text-decoration: none;
/*Links button*/
}
.top-nav a:hover {
    color: #6d5208;
/*color change hovering*/
}
.motto {
    color: #947a26;
}