body {
    background-color: #ffffff; /*testing only*/
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
    /*Navigation Bar*/
    .top-nav {
        display: flex; 
        justify-content: center;
        gap: 22px;
        text-align: center;
        position: sticky;
        background: #fbde48;
        padding: 15px ;
        text-align:center;
    }
    /*Navigation Logo*/
    .Tlogo {
        height: 70px;
        width: auto;
    }
    /*Links Button*/
    .top-nav a{
    color: #99870f;
    text-decoration: none;
        
    }
    /*color change hovering*/
    .top-nav a:hover {
    color: #6d5208;
        
    }
    /*For basic container unless special id*/
    .container {
        width: 80%;
        max-width: 840px;
        margin: 40px auto;
        background-color: white;
        padding: 50px;
        border-radius: 12px;
        box-shadow: 0 5px 15px #818181;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    /*Navigation Gallery*/
    .overlay {
        
    }
    /*Ordering Quote*/
    .container1 {
        width: 80%;
        max-width: 840px;
        margin: 40px auto;
        background-color: white;
        padding: 50px;
        border-radius: 12px;
        box-shadow: 0 5px 15px #818181;

        display: flexbox;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
    /*Homepage motto picture*/
    .HPhoto {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 7px;
    }

    .Reason {
        text-align: center;
    }


    .heading {
    margin-right: 200px; 
    }
    

    

