body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(235, 233, 211);
    font-family: sans-serif, Arial, Helvetica;
}

    .topnav {
        gap: 20px;
        background: #fbde48;
        padding: 16px ;

        position: sticky;
        display: flex; 
        text-align: center;
        justify-content: center;
    }
    
    .Tlogo {
        height: 72px;
        width: auto;
    }
    
    .topnav a{
    color: #99870f;
    text-decoration: none;
        /*Links button*/
    }
    
    .topnav a:hover {
    color: #6d5208;
    transition: ease-in 0.3;
        /*color change hovering*/
    }

    .container {
        width: 80%;
        max-width: 840px;
        margin: 40px auto;
        background-color: white;
        padding: 50px;
        border-radius: 12px;
        box-shadow: 0 5px 15px #818181;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .HPhoto {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 7px;
    }

    .Reason {
        text-align: center;
    }

    .overlay{
    text-align: center;
    justify-content: center;
    }

    .footer {
    background: linear-gradient(#f5cd05, #e69122);
    
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    }

    .footer-column {

        display: flex;
    flex-direction: column;
    gap: 16px 60px;
    text-align: center;
    justify-content: center;
    }

    .footer-column h3 {
    margin-bottom: 10px;
}

.scroll-box {
  height: 250px;      /* Required */
  overflow-y: auto;   /* Makes this div scroll */
  border: 1px solid #999;
}
