<!DOCTYPE html>
<html>

<head>
    <title>HTML Command Playground</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <!-- HEADINGS -->
    <h1>This is H1 - Biggest Heading</h1>
    <h2>This is H2 - Heading</h2>
    <h3>This is H3 - Heading</h3>
    <h4>This is H4 - Heading</h4>
    <h5>This is H5 - Heading</h5>
    <h6>This is H6 - Smallest Heading</h6>


    <!-- PARAGRAPH AND TEXT -->
    <p>This is a paragraph.</p>

    <p>
        Normal text,
        <strong>Bold text</strong>,
        <b>Also bold</b>,
        <em>Italic emphasis</em>,
        <i>Italic text</i>,
        <u>Underline</u>,
        <mark>Highlighted</mark>,
        <small>Small text</small>
    </p>

    <p>
        H<sub>2</sub>O is subscript.
        X<sup>2</sup> is superscript.
    </p>

    <p>
        <del>This text is deleted</del>
    </p>


    <!-- LINE BREAK -->
    Hello<br>
    World


    <!-- HORIZONTAL LINE -->
    <hr>


    <!-- LINK -->
    <a href="https://www.google.com">
        Click this link
    </a>


    <br><br>


    <!-- IMAGE -->
    <img 
        src="https://via.placeholder.com/300"
        alt="Example image"
    >


    <!-- CONTAINERS -->
    <div>
        This is a DIV container.
    </div>


    <span>
        This is a SPAN.
    </span>


    <!-- PAGE STRUCTURE -->

    <header>
        This is HEADER
    </header>


    <nav>
        Navigation bar
    </nav>


    <main>

        <section>
            This is a SECTION
        </section>


        <article>
            This is an ARTICLE
        </article>


        <aside>
            This is an ASIDE / sidebar
        </aside>


    </main>


    <footer>
        This is FOOTER
    </footer>



    <!-- LISTS -->

    <h2>Unordered List</h2>

    <ul>
        <li>Apple</li>
        <li>Orange</li>
        <li>Banana</li>
    </ul>



    <h2>Ordered List</h2>

    <ol>
        <li>First</li>
        <li>Second</li>
        <li>Third</li>
    </ol>



    <!-- DESCRIPTION LIST -->

    <dl>

        <dt>HTML</dt>
        <dd>Website structure language</dd>

        <dt>CSS</dt>
        <dd>Website styling language</dd>

    </dl>




    <!-- TABLE -->

    <table border="1">

        <thead>

            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>

        </thead>


        <tbody>

            <tr>

                <td>John</td>
                <td>20</td>

            </tr>


            <tr>

                <td>Amy</td>
                <td>21</td>

            </tr>

        </tbody>


        <tfoot>

            <tr>
                <td>Total</td>
                <td>2 people</td>
            </tr>

        </tfoot>


    </table>




    <!-- FORM -->

    <h2>Form Example</h2>


    <form>


        <label>
            Name:
        </label>


        <input type="text">


        <br><br>


        <label>
            Password:
        </label>


        <input type="password">


        <br><br>


        <textarea>
            Write something here
        </textarea>


        <br><br>


        <select>

            <option>
                Option 1
            </option>

            <option>
                Option 2
            </option>

        </select>


        <br><br>


        <button>
            Submit Button
        </button>



    </form>




    <!-- MEDIA -->

    <h2>Video</h2>

    <video width="300" controls>

        <source src="video.mp4">

    </video>



    <h2>Audio</h2>

    <audio controls>

        <source src="audio.mp3">

    </audio>




    <!-- EMBEDDED CONTENT -->

    <iframe
        src="https://www.example.com"
        width="300"
        height="200">
    </iframe>

    <title>Div and Span Test</title>

    <style>
        div {
            background-color: lightblue;
            border: 3px solid blue;
            padding: 20px;
            margin: 20px;
        }

        span {
            background-color: yellow;
            color: red;
            padding: 5px;
        }
    </style>



    <h1>DIV Example</h1>

    <div>
        This is a DIV.
        <br>
        Div creates a big container/block.
        <br>
        It takes the whole line.
    </div>


    <div>
        This is another DIV.
        <br>
        Each div is separated because it is a block.
    </div>



    <h1>SPAN Example</h1>

    <p>
        This is normal text,
        but this word is
        <span>highlighted using span</span>
        inside the same paragraph.
    </p>


    <p>
        My favourite colour is
        <span>blue</span>
        and my favourite food is
        <span>pizza</span>.
    </p>

</body>

</html>